$light: hsl(220, 29%, 94%);
$light2: hsl(0, 0%, 97%);
$white: hsl(0, 0%, 100%);
$white2: hsla(0, 0%, 100%, 0.7);
$dark: hsl(216, 100%, 1%);
$dark2: hsl(0, 0%, 7%);
$darkblue: hsl(229, 31%, 14%);
$light3: hsl(0, 0%, 80%);
$light4: hsl(0, 0%, 87%);
$black: hsl(0, 0%, 0%);
$black2: hsla(0, 0%, 0%, 0.5);
$green: hsl(79, 98%, 38%);
$green2: hsl(93, 96%, 42%);
$orange: hsl(11, 91%, 59%);
