@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./variables";
@import "./mixins";
@import "./functions";
@import "./header";
@import "./sign";
@import "./title";
@import "./profile";
@import "./dashboard";
@import "./new";
@import "./_modal";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html body #root {
	width: 100%;
	height: 100%;
	height: 100vh;
	color: $dark;
	background-color: $light;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}
